<main class="main ">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1 class="text-success">Properties</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
            <div class="mt-3">
                <button  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add More</button></div>
           
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Properties</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Real Estate Section -->
    <section id="real-estate" class="real-estate section">

      <div class="container">

        <div class="row gy-4">

          <div *ngFor="let item of properties" class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <img src="assets/assetsfromestate/img/properties/property-{{item.image}}.jpg"  alt="" class="img-fluid">
              <div class="card-body">
                <span class="sale-rent">{{item.saletype == 1 ? "Rent" :"Sale"}} | ${{item.amount}}</span>
                <h3><a href="property-single.html" class="stretched-link">{{item.address}}</a></h3>
                <div class="card-content d-flex flex-column justify-content-center text-center rounded">
                  <div class="row propery-info">
                    <div class="col">Area</div>
                    <div class="col">Beds</div>
                    <div class="col">Baths</div>
                    <div class="col">Garages</div>
                  </div>
                  <div class="row">
                    <div class="col">{{item.area}}</div>
                    <div class="col">{{item.beds}}</div>
                    <div class="col">{{item.baths}}</div>
                    <div class="col">{{item.garages}}</div>
                  </div>
                  
                </div>
               
              </div>
            </div>
            <div class="row p-3">
              <button class="btn btn-dark w-75" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="openUpdateModal(item)">Update</button>
              <button type="button" (click)="delete(item._id)" class="btn btn-danger w-25"><i class="fa fa-solid fa-trash"></i></button>
            </div>
          </div><!-- End Property Item -->

        </div>

      </div>

    </section><!-- /Real Estate Section -->





  
  <!--property Add Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
         <form>
                <select [(ngModel)]="propertyData.image" name="image" class="form-select mt-2" aria-label="Default select example">

                    <option value="" disabled selected>select Image</option>
                    <option value="1">One   </option>
                    <option value="2">Two   </option>
                    <option value="3">Three </option>
                    <option value="4">Four  </option>
                    <option value="5">Five  </option>
                    <option value="6">Six   </option>
                  
                  </select>
    
                  <select [(ngModel)]="propertyData.saletype" name="saletype" class="form-select mt-2" aria-label="Default select example" >
                    <option value="" disabled selected>Rent/Sale </option>
                    <option value="1">Rent</option>
                    <option value="2">Sale</option>
                  </select>
              <input [(ngModel)]="propertyData.amount" name="amount" type="text" class="mt-2 form-control" placeholder="Amount">
              <input [(ngModel)]="propertyData.address" name="address" type="text" class="mt-2 form-control" placeholder="Address">
              <input [(ngModel)]="propertyData.area" name="address" type="text" class="mt-2 form-control" placeholder="Area in square-feet">
              <input [(ngModel)]="propertyData.beds" name="beds" type="text" class="mt-2 form-control" placeholder="No of beds">
              <input [(ngModel)]="propertyData.baths" name="baths" type="text" class="mt-2 form-control" placeholder="No of Baths">
              <input [(ngModel)]="propertyData.garages" name="garages" type="text" class="mt-2 form-control" placeholder="No of Garages">
    
         </form>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="addNewProperty()" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <!-- update Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateModalLabel">Update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
         <form>
                <select [(ngModel)]="updatePropertyData.image" name="image" class="form-select mt-2" aria-label="Default select example">

                    <option value="" disabled selected>select Image</option>
                    <option value="1">One   </option>
                    <option value="2">Two   </option>
                    <option value="3">Three </option>
                    <option value="4">Four  </option>
                    <option value="5">Five  </option>
                    <option value="6">Six   </option>
                  
                  </select>
    
                  <select [(ngModel)]="updatePropertyData.saletype" name="saletype" class="form-select mt-2" aria-label="Default select example" >
                    <option value="" disabled selected>Rent/Sale </option>
                    <option value="1">Rent</option>
                    <option value="2">Sale</option>
                  </select>
              <input [(ngModel)]="updatePropertyData.amount" name="amount" type="text" class="mt-2 form-control" placeholder="Amount">
              <input [(ngModel)]="updatePropertyData.address" name="address" type="text" class="mt-2 form-control" placeholder="Address">
              <input [(ngModel)]="updatePropertyData.area" name="address" type="text" class="mt-2 form-control" placeholder="Area in square-feet">
              <input [(ngModel)]="updatePropertyData.beds" name="beds" type="text" class="mt-2 form-control" placeholder="No of beds">
              <input [(ngModel)]="updatePropertyData.baths" name="baths" type="text" class="mt-2 form-control" placeholder="No of Baths">
              <input [(ngModel)]="updatePropertyData.garages" name="garages" type="text" class="mt-2 form-control" placeholder="No of Garages">
    
         </form>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="update()" type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

  </main>